.rodape {
    width: 100vw;
    margin-top: 4em;
    background-color: white;
    background-image: url(../img/Vector_2.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
    padding: 1em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.07);
}
.rodape img{
    width: 65%;
}

.rodape__redes-sociais {
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}

.rodape__redes-sociais a img {
    width: 30px;
    height: 30px;
}

.rodape__titulo h2 {
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 0.75em;
    
}

.rodape__titulo p {
    font-weight: 700;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: var(--cor-titulo);
    opacity: 0.5;
}
